<%= simple_form_for @user, url: wizard_path do |f| %>
  <%= f.error_notification %>
  <h2>Tell us a little about yourself</h2>
  <%= f.input :full_name %>
  <%= f.input :date_of_birth, start_year: 1900, end_year: Date.today.year %>
  <%= f.input :bio, :input_html => { :rows => 8 }%>
  <%= f.button :submit, "Continue" %> or <%= link_to "skip this step", next_wizard_path %>
<% end %>