<!DOCTYPE html>
<html>
<head>
  <title>ProjectLearningApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navigation" %>

<div class="container-fluid">
  <% unless flash.empty? %>
    <div class="row-fluid">
      <div class="span12">
        <%= render 'layouts/shared/flash_messages' %>
      </div>
    </div>
<% end %>    

<%= yield %>
</div>

</body>
</html>
